build/
cmake-build-*/
thermal_yields/build/
blastwave/bin/

# Objects / shared libs
*.o
*.so
*.so.*
*.root
*.png
*.dat
*.json

!blastwave/data/*.root
!docs/plots/blastwave_exp/*.root
!docs/plots/blastwave_exp/*.png
!docs/plots/thermal_yields_ratios/*.root
!docs/plots/thermal_yields_ratios/*.png
!blastwave/data/*.dat
!blastwave/data/*.json
!common/data/*.json
