thermal_yields/build/
blastwave/bin/

# Objects / shared libs
*.o
*.so
*.so.*
*.root
*.png
*.dat
*.json

!blastwave/data/*.root
!docs/plots/*.png
!docs/plots/*.root
!blastwave/data/*.dat
!blastwave/data/*.json
